@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset (Normalize.css principles) */
/* Resets default browser styles to ensure consistency */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Base Styles */
/* Applies global styles for the body element */
body {
  font-family: 'Open Sans, sans-serif';
  background-color: #f0f2f5;
  color: #333333; /* darkGray */
  line-height: 1.6;
  overflow-y: scroll; /* Always show scrollbar to prevent layout shift */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Typography */
/* Applies global typography styles for headings */
h1 {
  font-size: 2.5rem;
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  color: #333333; /* darkGray */
}

h2 {
  font-size: 2rem;
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  color: #333333; /* darkGray */
}

h3 {
  font-size: 1.5rem;
  font-family: 'Roboto, sans-serif';
  font-weight: bold;
  color: #333333; /* darkGray */
}

p {
  font-size: 1rem;
  font-family: 'Open Sans, sans-serif';
  color: #333333; /* darkGray */
}

/* Link Styles */
/* Applies global styles for links */
a {
  color: #29ABE2; /* blue */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #00FFCC; /* teal */
}

/* Focus Styles - Accessibility */
/* Reset default focus styles and provide a custom, accessible focus indicator */
*:focus {
  outline: none; /* Remove default focus outline */
}

*:focus-visible {
    outline: 2px solid #00FFCC; /* teal */
    outline-offset: 2px;
}

/*Interactive transition*/
button, a[role="button"], input[type="submit"], input[type="button"] {
  transition: all 0.3s ease;
}